.caveat-brush-regular {

  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Caveat Brush", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Adds the background picture to the website*/
.background-color {
  width: 100%;
  min-height: 100vh;
  background-image: url(css-image/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  padding: 10px;
}

/*For when you are on phone*/
@media screen and (max-width: 300px) {
  .background-color {
    background-image: url(css-image/phone-background.jpg);
  }
}

/* This will create a transparent border arount the Tasklist area*/
.Task-List {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: 80%;
  /*max-width: 540px;*/
  background: rgba(0, 0, 0, 0.2);
  padding: 40px 30px 70px;
  margin: 100px auto 20px;
  min-height: 100vh;
  border: 2px solid black;
  border-radius: 70px 0 70px 0;
  position: relative;
}

/* main title */
.Task-List h2 {
  font-size: 80px;
  margin-bottom: 10px;
  margin-inline: 20px;
  align-items: center;
  display: flex;
  color: white;
}
/*This will resize the image that is located nest to the Task-List title*/
.Task-List h2 img {
  width: 100px;
  margin-left: 20px;
}

/* Changes the day drop down*/
#dayInput {
  flex: 1;
  border: none;
  outline: none;
  background: rgb(30, 29, 29);
  padding: 15px 9px;
  font-weight: 14px;
  color: white;
  border-radius: 5px;
  font-size: 25px;
}
/*Chnages the Task input box*/
#titleInput {
  flex: 1;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 9px;
  font-weight: 14px;
  color: white;
  border-radius: 5px;
  font-size: 25px;
}
#dayInput:hover {
  background: rgb(59, 58, 58);
}

/* Enter todo */
label {
  font-size: 25px;
  color: black;
}

/* days with tasks */
summary {
  margin-bottom: 5px;
  flex: 1;
  border: none;
  outline: none;
  background: rgb(30, 29, 29);
  padding: 25px;
  font-weight: 14px;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

/* when you hover on each day */
summary:hover {
  background: rgb(59, 58, 58);
}

/*changes the list of task below the dates*/
ul li {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  list-style: none;
  font-size: 25px;
  padding: 10px 10px 10px 45px;
  cursor: pointer;
  user-select: none;
  position: relative;
  color: rgb(204, 202, 202);

  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

/* how tasks look before completion */
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("css-image/circle.png");
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;

}

/* how tasks look after completion */


ul li.done::before {
  background-image: url("css-image/checkmark.png");
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

.items li {
  cursor: pointer;
}

li.done {
  text-decoration: line-through;
  color: rgb(98, 96, 96);
}

/* both buttons */
button {
  flex: 1;
  background: rgb(30, 29, 29);
  border: none;
  outline: none;
  padding: 15px 6px;
  border-radius: 5px;
  font-size: 25px;
  /*border: 5px outset rgba(46, 19, 216, 0.5);*/
  cursor: pointer;
  color: white;
}
button:hover {
  background-color: rgb(59, 58, 58);
}

.task {
  margin-bottom: 5px;
}

input::placeholder {
  color: white;
  padding-left: 20px;

}

/* animations*/
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
